:root {
    --background-primary: #e8deff;
    --light-purple: #d8c7ff;
    --dark-purple: #7c40ff;
    --primary-font: 'Jua', sans-serif;
    --secondary-font: 'Arvo', serif;

}

body {
    background: var(--background-primary);
    font-family: var(--secondary-font);
}

header {
    background: var(--light-purple) ;
}

h2 {
    font-weight: normal;
    font-size: 20px;
}

h1 {
    font-size: 140px;
    font-family: var(--primary-font);
}

h3 {
    font-size: 50px;
}

p, h1 {
    margin: 0 auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 25px;
    }

    .myPic {
        width: 200px;
    }

    .logo {
        width: 140px;
    }

}


.hero {
    margin-top: 150px;
    /*margin: 150px;*/
    text-align: center;
}

.hero p {
    font-weight: normal;
    font-size: 30px;
}

.btn-branding {
    background: var(--dark-purple);
    border-radius: 4px;
    color: black;
    line-height: 20px;
    padding: 12px 20px;
    margin-top: 40px;
}

.btn-branding:hover {
    background: var(--dark-purple);
    color: white;
}

